table {
    border-width: 1px;
    border-style: outset;
    border-color: black;
}

td {
    border-width: 1px;
    border-style: outset;
    border-color: black;
}


#coluna_1 {
    background-color: aquamarine;
}